<body class="body-style">
  <div class="title-container">
    <label class="title">Portifólio</label>
  </div>

  <div class="content-container">
    <button mat-button (click)="previousPage()">&#9664;</button>
    <div class="experience-block">
      <mat-card class="example-card" *ngFor="let item of visibleItems" (click)="openMenu(item.codigo)">
        <img mat-card-image [src]="item.imageUrl" alt="Image">
        <mat-card-content class="card-content">
          <ul>
            <li><label class="job-title">{{ item.title }}</label></li>
          </ul>
          <p>{{ item.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <button mat-button (click)="nextPage()">&#9654;</button>
  </div>
</body>
<app-Certificados></app-Certificados>
