<!-- email.component.html -->
<form #emailForm="ngForm" (ngSubmit)="sendEmail(emailForm)">
  <div>
    <label for="fromName">Seu Nome:</label>
    <input type="text" id="fromName" name="fromName" ngModel>
  </div>
  <div>
    <label for="toName">Nome do Destinatário:</label>
    <input type="text" id="toName" name="toName" ngModel>
  </div>
  <div>
    <label for="message">Mensagem:</label>
    <textarea id="message" name="message" ngModel></textarea>
  </div>
  <button type="submit">Enviar E-mail</button>
</form>
