<section id="Sobre" class="section_container">
  <div class="title ">Sobre Mim</div>
  <div class="info"><label> {{sobre.description}}</label> </div>
  <div class="title">Expecialidades</div>
    <div class="image_wrapper">
      <img class="imgSobre" src="../../assets/imagens/LogoSpring.png" alt="Logo Spring Boot" title="Spring Boot">
      <img class="imgSobre" src="../../assets/imagens/LogoAngular.png" alt="Logo Angular" title="Angular">
      <img class="imgSobre" src="../../assets/imagens/LogoJava.png" alt="Logo Java" title="Java">
      <img class="imgSobre" src="../../assets/imagens/LogoTtypeScrip.png" alt="Logo TypeScript" title="TypeScript">
    </div>
</section>
