<body>

  <div style="display: grid; grid-template-columns: 50% 50%; height: 80%;">
    <div class="info"  >
      <div class="title">Sobre</div>
      <label>
        Sou um programador nacido em 2001, apaixonado por tecnologia e jogos. Minha jornada no mundo da computação
        começou quando ingressei no curso de Ciência da Computação na UNIFOR-MG em 2019. Desde então, minha curiosidade
        e entusiasmo por aprender coisas novas só têm crescido.
      </label>
      <label>
        Durante a faculdade, mergulhei fundo nos estudos e em diversos projetos que me permitiram explorar diferentes
        áreas da tecnologia. Desenvolver software, entender os meandros dos algoritmos e criar soluções inovadoras se
        tornaram mais do que uma carreira, mas uma verdadeira paixão.
      </label>
      <label>
        Para mim, cada desafio é uma oportunidade de aprendizado e crescimento. Gosto de me testar e de resolver
        problemas complexos, e nada me deixa mais satisfeito do que encontrar a solução para um bug teimoso ou ver um
        projeto finalmente ganhar vida.
      </label>
      <label>
        Meu objetivo é continuar me desafiando, aprendendo e contribuindo para projetos que façam a diferença. Se há
        algo que me define, é a minha disposição incansável para enfrentar novos desafios e minha paixão por tudo o que
        envolve tecnologia.
      </label>
    </div>

    <div class="info">
       <div class="title">Expecialidades</div>

      <div class="image-container">
        <div class="image-wrapper">
          <img src="../../assets/imagens/LogoSpring.png" alt="Logo Spring Boot" title="Spring Boot">
        </div>
        <div class="image-wrapper">
          <img src="../../assets/imagens/LogoAngular.png" alt="Logo Angular" title="Angular">
        </div>
        <div class="image-wrapper">
          <img src="../../assets/imagens/LogoJava.png" alt="Logo Java" title="Java">
        </div>
        <div class="image-wrapper">
          <img src="../../assets/imagens/LogoTtypeScrip.png" alt="Logo TypeScript"  title="TypeScript">
        </div>
      </div>
    </div>
  </div>
</body>
