<body>
    <div class="container">
        <div class="head">
            <div class="head2">
                <div class="carousel">
                    <div class="carousel-images">
                        <img src="../../assets/imagens/git.png" alt="Imagem 1">
                        <img src="../../assets/imagens/springBoot.png" alt="Imagem 2">
                        <img src="../../assets/imagens/angular.png" alt="Imagem 3">
                        <img src="../../assets/imagens/java.png" alt="Imagem 4">
                        <img src="../../assets/imagens/json.png" alt="Imagem 5">
                        <img src="../../assets/imagens/junit.png" alt="Imagem 6">
                        <img src="../../assets/imagens/mysql.png" alt="Imagem 7">
                        <img src="../../assets/imagens/sqlserve.png" alt="Imagem 8">
                        <img src="../../assets/imagens/typeSrcip.png" alt="Imagem 9">

                        <img src="../../assets/imagens/git.png" alt="Imagem 1">
                        <img src="../../assets/imagens/springBoot.png" alt="Imagem 2">
                        <img src="../../assets/imagens/angular.png" alt="Imagem 3">
                        <img src="../../assets/imagens/java.png" alt="Imagem 4">
                        <img src="../../assets/imagens/json.png" alt="Imagem 5">
                        <img src="../../assets/imagens/junit.png" alt="Imagem 6">
                        <img src="../../assets/imagens/mysql.png" alt="Imagem 7">
                        <img src="../../assets/imagens/sqlserve.png" alt="Imagem 8">
                        <img src="../../assets/imagens/typeSrcip.png" alt="Imagem 9">
                    </div>
                </div>
                <div style="margin-right: 50px;">
                    <i class="fa-solid fa-bars fa-2xl" (click)="openMenu()"></i>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="info">
                <h2>Luiz Carlos <br> Programador e Desenvolvedor</h2>
                <label>Data de nascimento: 16/01/2001</label>
                <label>Cidade: Formiga - MG</label>
                <label>Telefone: (55) 37 99816-8245</label>
                <label>Email: <a href="mailto:luixcarlos00@gmail.com">luixcarlos00&commat;gmail.com</a></label>
                <button (click)="download()">Download Currículo</button>
            </div>
            <div class="image">
                <img src="../../assets/imagens/me.png" alt="Imagem de Luiz Carlos">
            </div>
        </div>
    </div>
</body>
<app-Experiencias></app-Experiencias>
