body {
  height: 100vh; /* Ocupa toda a altura da tela */
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: rgb(133, 168, 243);
  flex-direction: column;
}

.game-container {
  position: relative;
  width: 300px; /* Largura fixa da área do jogo */
  height: 300px; /* Altura fixa da área do jogo */
  background-color: #000000;
  overflow: hidden;
  border: 2px solid #000; /* Borda para definir claramente a área do jogo */
}

.snake {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: green;
}

.food {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
}

.play {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
}

.control-button {
  padding: 10px;
  font-size: 18px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.control-button-row {
  display: flex;
  justify-content: center;
}
