<body class="body-style">

  <div class="title-container">
    <label class="title">Experiencias</label>
  </div>

  <div class="content-container">
    <hr class="separator">

    <div class="experience-block">
      <div class="experience-header">
        <div>
          <p>Março, 2023 - March, 2023</p>
        </div>
        <div class="job-title">
          <p>Desenvolvedor de Sistemas</p>
        </div>
      </div>
      <div class="experience-description">
        <p>Durante minha experiência na Unifor MG, desenvolvi sistemas internos para auxiliar professores e funcionários
          da universidade. Refazer e modernizar esses sistemas me permitiu contribuir significativamente para o
          desenvolvimento web, otimizando a gestão de informações e processos, o que facilitou as atividades diárias e
          melhorou a eficiência operacional.

          Trabalhando de perto com os usuários finais, assegurei que as soluções fossem práticas e intuitivas. As
          interfaces interativas e responsivas, junto com serviços robustos e seguros, garantiram uma experiência de uso
          eficiente e a integridade dos dados. Essa experiência permitiu-me contribuir significativamente para o
          ambiente educacional da Unifor MG, transformando processos internos através da tecnologia.</p>
      </div>
    </div>


  </div>
  <div>
    <a href="mailto:luixcarlos00@gmail.com"> <button style="padding: 10px; background-color: #f1c50e; color: white;">Entrar em Contato</button></a>
  </div>

</body>
<app-Portifolio></app-Portifolio>
