.body-style {
  width: 100%;
  height: 140vh;
  margin: 0;
  background-color: #555c66;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  margin-top: 100px;
  text-align: center;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.content-container {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.separator {
  color: white;
  width: 50%;
  border: 1.25px solid;
}

.experience-block {
  padding: 10px;
  color: white;
  text-align: center;
  width: 50%;
}

.experience-header {
  display: flex;
  margin-top: 20px;
}

.job-title {
  margin-left: 50px;
  color: #f1c50e;
font-size: 18px;}

.experience-description {
  display: flex;
  margin-left: 225px;
  margin-top: 10px;
  width: 65%;
  word-break: break-all;
}

.experience-description p {
  color: white;
  font-size: 12px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: #f1c50e;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  width: 200px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
  margin-top: 2rem;
}

