<body>
  <br>
  <div class="dialog-container">
    <div class="text-section">
      <h2>{{ selectedItem.title }}</h2>
      <p>{{ selectedItem.description }}</p>
    </div>

    <div class="image-section">
      <div class="image-grid">
        <img *ngFor="let image of selectedItem.imageUrl" [src]="image.url" (click)="openMedia(image.url, false)" alt="Image">
        <video *ngFor="let video of selectedItem.videoUrl" [src]="video.url" (click)="openMedia(video.url, true)" controls></video>
      </div>
    </div>
  </div>
</body>
